.main {
  display: flex;
  justify-content: space-between;
  margin-top: 5.625rem;

  .header {

    h1 {
      font-size: 3rem;
      line-height: 3.625rem;
      margin-bottom: 1.875rem;

      strong {
        display: block;
        font-weight: 900;
        background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.125rem;
    }
  }

  .bullets {
    text-align: right;
    width: 20rem;
    margin-bottom: 3.5rem;

    h3 {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.375rem;
      margin-bottom: 0.625rem;
      text-transform: uppercase;
      background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      .normal {
        text-transform: none;
        background: none;
        -webkit-text-fill-color: #E4E5EA;
        text-fill-color: #E4E5EA;
      }
    }

    .bulletsItems {
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
      margin-bottom: 3.875rem;

      li {
        padding-left: 1.875rem;
        padding-top: 1.875rem;
      }

      h4 {
        text-transform: uppercase;
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      .content {
        font-family: 'Montserrat', sans-serif;
        line-height: 1.25rem;

      }
    }

    button {
      width: 16.375rem;
      height: 3.875rem;
      background: #4077F3;
      color: #E4E5EA;
      font-size: inherit;
      transition: background 0.3s;

      &:hover {
        background: rgba(64, 119, 243, 0.7);
        cursor: pointer;
      }
      &:active {
        transform: translateY(3px);
      }
    }
  }

}
